#pdfviewer {
    height: 400px;
}
#pdfviewer #viewerContainer {
    overflow-x: hidden;
}

.expense-table-outer {
    height: 200px;
    overflow-y: scroll;
}
table.row-formset > thead > tr {
    background-color: #fff;
}
table.row-formset > tbody > tr > td {
    padding-left: 0;
    padding-right: 0;
}

table.row-formset > tbody > tr > td.dateinput {
    width: 8em;
}

.landing-progress {
    height: 5em;
}
.landing-progress .progress-bar {
    font-size: 200%;
    line-height: 2.5em;  /* half of height to center vertically */
    background-repeat: repeat;  /* Workaround for bootstrap bug */
    min-width: 10em;  /* To keep label legible at small percentages */
}
.landing-progress .progress-bar a {
    text-decoration: none;
    color: inherit;
}

.collapser {
    float: right;
}
.collapsible-heading.collapsed {
    background: #eee;
}

.datepicker {
    z-index: 9000; /* Fix for datepicker appearing under fixed table header */
}

.btn-gigantic {
  padding: 20px 32px;
  font-size: 36px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.center-content {
    text-align: center;
}
