{% extends 'base.html' %}

{% block body %}
    <h1 class="row">List of MP that need processing</h1>
    
    <div class="row">
        <div class="progress landing-progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {% widthratio completed total 100 %}%;">
                Completed: {{ completed }} / {{ total }}
            </div>
        </div>
    </div>

    <div class="row center-content">
    {% if user.is_authenticated %}
        <a href="{% url 'campaigns:process_dispatch' %}" class="btn btn-primary btn-gigantic">
            <span class="glyphicon glyphicon-random"></span>
            Process random MP
        </a>
    {% else %}
        <em>Login to verify</em>
    {% endif %}
    </div>
{% endblock %}
