{% extends 'base.html' %}

{% block body %}
    <h1>List of MP that need verifying</h1>

    <a href="{% url 'campaigns:process_dispatch' %}" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-random"></span>
        Verify random MP
    </a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Campaign</th>
                <th>MP</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for mp in object_list %}
                <tr>
                    <td>{{ mp.campaign.name }}</td>
                    <td>{{ mp.name }}</td>
                    <td>
                        <a href="{% url 'campaigns:verify_claim' pk=mp.pk %}" class="btn btn-default">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            Verify
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
