{% extends 'base.html' %}

{% load i18n %}

{% block body %}
    <h1>{% trans 'List of MP who are currently being verified' %}</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans 'Campaign' %}</th>
                <th>{% trans 'MP' %}</th>
                <th>{% trans 'History' %}</th>
                <th>{% trans 'Action' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for mp in object_list %}
                <tr>
                    <td>{{ mp.campaign.name }}</td>
                    <td>{{ mp.name }}</td>
                    <td>
                        <ul>
                            {% for event in mp.events.all %}
                                <li class="event">
                                    <span class="date">{{ event.happened_on }}</span>
                                    <span class="user">{{ event.user }}</span>
                                    <span class="action">{{ event.get_action_display }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <form action="{% url 'campaigns:verify_unclaim' pk=mp.pk %}" method="post">
                            <button class="btn" type="submit">
                                <span class="glyphicon glyphicon-remove"></span>
                                {% trans 'Unclaim' %}
                            </button>
                            {% csrf_token %}
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
