{% extends 'base.html' %}

{% block body %}
    <h1 class="row">List of MP that need verifying</h1>
    
    <div class="progress landing-progress row">
        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {% widthratio verified total 100 %}%;">
            Verified: {{ verified }} / {{ total }}
        </div>
    </div>

    {% if user.is_authenticated %}
    <div class="row">
        <a href="{% url 'campaigns:process_dispatch' %}" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-random"></span>
            Verify random MP
        </a>
    </div>
    {% endif %}

    <table class="table table-striped row">
        <thead>
            <tr>
                <th>Campaign</th>
                <th>MP</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for mp in object_list %}
                <tr>
                    <td>{{ mp.campaign.name }}</td>
                    <td>{{ mp.name }}</td>
                    <td>
                        {% if user.is_authenticated %}
                            <a href="{% url 'campaigns:verify_claim' pk=mp.pk %}" class="btn btn-default">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                Verify
                            </a>
                        {% else %}
                            <em>Log in to verify</em>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
