{% extends 'base.html' %}

{% block body %}
    <h1 class="row">List of MP that need verifying</h1>
    
    <div class="progress landing-progress row">
        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {% widthratio verified total 100 %}%;">
            Verified: {{ verified }} / {{ total }}
        </div>
    </div>

    <div class="row center-content">
    {% if user.is_authenticated %}
        <a href="{% url 'campaigns:process_dispatch' %}" class="btn btn-primary btn-gigantic">
            <span class="glyphicon glyphicon-random"></span>
            Verify random MP
        </a>
    {% else %}
        <em>Login to verify</em>
    {% endif %}
    </div>
{% endblock %}
