{% load activeurl %}
{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Adatsprint{% endblock %}</title>
        <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'datepicker/js/bootstrap-datepicker.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'jquery-floatthead/jquery.floatThead.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/campaigns.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'datepicker/css/bootstrap-datepicker3.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/campaigns.css' %}" />
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div class="container">
        {% block navigation %}
        {% activeurl menu="no" %}
            <nav class="row navbar navbar-default">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'campaigns:landing' %}">Adatsprint</a>
                </div>
                <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'campaigns:process_landing' %}">{% trans 'Process' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'campaigns:verify_landing' %}">{% trans 'Verify' %}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'accounts:login' %}">{% trans 'Login' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'accounts:register' %}">{% trans 'Register' %}</a>
                        </li>
                    {% endif %}
                    {% if user.is_staff %}
                        <li>
                            <a href="{% url 'campaigns:process_pending' %}">{% trans 'Process (locked)' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'campaigns:verify_pending' %}">{% trans 'Verify (locked)' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'admin:app_list' 'campaigns' %}">{% trans 'Admin' %}</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'accounts:logout' %}">{% trans 'Logout' %}</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endactiveurl %}
        {% endblock %}
        {% block messages %}
            {% for message in messages %}
                <div class="row alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message}}
                </div>
            {% endfor %}
        {% endblock %}
        {% block body %}{% endblock %}
        </div>
    </body>
</html>
